<section class="container">
  {{#each posts}}
    <div class="border_darkblue mt-4" >
      <div class="bg_darkblue text-white p-2 d-flex justify-content-between" onclick="window.location.pathname= `/posts/{{id}}`">
        <h4>{{title}}</h4>
        <p>Power by <strong>{{User.userName}} </strong> on {{ dateFormat createdAt }}</p>
      </div>
      <p class="p-2" style="min-height: 100px;">{{content}}</p>
    </div>
  {{/each}}
</section>
